{% extends"layout.html" %}
{% block body %}

<br/>
<br/>
<br/>


    
        <form action="/recommend_books" method="post" class="example">
            <input name="user_input" type="text"  placeholder=" Search">
            <input type="Submit" class="btn btn-lg btn-warning">
        </form>
    


<br/><br/><br/><br/><br/><br/>





{% if data %}
<h1 class="heading"> <span>You Searched For</span> </h1>

<div class="searched">
    
    <div class="image">
        <img src="{{ data[0][2] }}" alt="">
    </div>
    <div class="content">
        <h3 style="font-size: 14px">  {{ data[0][0]  }} </h3>
        <h3 style="font-size: 14px">  {{ data[0][1]  }} </h3>
        <div class="price">$15.99 <span>$20.99</span></div>
        <a href="{{  data[0][3] }}" class="btn">Go to book</a>
    </div>
</div>
<br/><br/><br/><br/><br/><br/>

<h1 class="heading"> <span>Recommended Books</span> </h1>

    <div class="swiper featured-slider">

        <div class="swiper-wrapper">

            

        {% for i in range(1, 6) %}

        <div class="swiper-slide box">
            
            <div class="image">
                <img src="{{ data[i][2] }}" alt="">
            </div>
            <div class="content">
                <h3 style="font-size: 14px">  {{ data[i][0]  }} </h3>
                <h3 style="font-size: 14px">  {{ data[i][1]  }} </h3>
                <div class="price">$15.99 <span>$20.99</span></div>
                <a href="{{  data[i][3] }}" class="btn">Go to book</a>
            </div>
        </div>

        {% endfor %}

    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

</div>

        {% endif %}
    </div>
</div>






{% endblock %}